body{
    padding:10px;
    background-color: #76ebeb ;
    font-family: segoe print;
    

}

#voltar{
    font-size: 30px;
    color: black;
}

h1{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 10px 10px;
}

p{
    font-size: 25px;
}

img{
    width: 100%;
    max-width: 320px;
    max-width: 250px;
    margin: 90px;
    border: 7px solid whitesmoke;
    box-shadow: 6px 5px 5px black;
    border-radius: 10px;
    background-color: rgb(26, 81, 116);
    transition: 1s; 
    font-size: 40px;
    cursor: pointer; 
}

img:hover {
    border: 7px solid rgb(0, 0, 0);
    background-color: rgb(150, 215, 255);
    transition: 1s;
}

.foto1{
    display: inline-block;
    position: relative;
    margin:0px
 
}
.foto1 figcaption{
    position: absolute;
    bottom:101px;
    right: 91px;
    font-size:20px;
    opacity: 0%;  
}
#text1{
    
    padding: 10px 18px 187px 18px;
    border-radius: 5px;
    transition: 1s;
    text-align: center;
    width: 50%;
    
}
#text1:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5s;
    cursor: pointer ;
}



.foto2{
    display: inline-block;
    position: relative;
    margin: 0px;
}
.foto2 figcaption{
    text-align: center;
    position: absolute;
    bottom: 103px;
    right: 94px;
    font-size: 20px;
    opacity: 0%;
}
#text2{
    padding:70px 16px 203px 16px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    transition: 1s;

}
#text2:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5s;
    cursor: pointer;
}



.foto3{
    display: inline-block;
    position:relative;
    margin: 0px;
}
.foto3 figcaption{
    text-align: center;
    position: absolute;
    bottom: 102px;
    right: 93px;
    font-size: 20px;
    opacity: 0%;
}
#text3{
    padding: 70px  16px 100px 16px ;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    transition: 1s;  
}
#text3:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5s;
}



.foto4{
    display: inline-block;
    position: relative;
    margin: 0px;
}
.foto4 figcaption{
    text-align: center;
    position: absolute;
    bottom: 102px;
    right: 94px;
    font-size: 20px;
    opacity: 0%;
}
#text4{
    padding: 70px 16px 100px 16px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    transition: 1s;
}
#text4:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5s;
}



.foto5{
    display:inline-block ;
    position: relative;
    margin: 0px;
}
.foto5 figcaption{
    text-align: center; 
    position: absolute;
    bottom: 100px;
    right: 94px;
    font-size: 20px;
    opacity: 0%;

}
#text5{
    width: 50%;
    padding: 60px 16px 145px 16px;
    border-radius: 5px;
    text-align: center;
    transition: 1s;
}
#text5:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5px;
}



.foto6{
    display: inline-block;
    position: relative;
    margin:0px;
}
.foto6 figcaption{
    text-align: center;
    position: absolute;
    bottom: 102px;
    right: 94px;
    font-size: 20px;
    opacity: 0%;
}
#text6{
    width: 50%;
    padding: 30px 16px 140px 16px;
    border-radius: 5px;
    text-align: center;
    transition: 1s;
}
#text6:hover{
    opacity: 100%;
    background-color: whitesmoke;
    transition: 0,5S;
}











