body{
	text-align: center;
	font-size: 20px;
	background-color: lightgrey;
	width: auto;

}
#voltar{
    font-size: 30px;
    color: black;
    margin-right: 1400px;
    
}
iframe{
	

	background-color:black;

}

p{
	color: black;
	
	margin: 5px 350px ;

}
#voce{

	background-color: black;
	padding: 0.5px;
	margin:10px 590px ;
	transition:4s;
}

#voce:hover{ 
	color:white;
	transition:2s;
	
}

#text{

	opacity: 0%;
	transition:2s;


}

#text:hover{
	opacity: 100%;
	transition:2s;

}
