body{
    background-color: black;
    color: white;
    font-family:Segoe Print;
}

#voltar{
    font-size: 30px;
    color: white;
}

h1{
    text-align: center;
    font-size: 50px;
    text-decoration:underline;
    margin: 0px;
    
}

#detalhe{
    color: rgb(76, 76, 230);
}

p{
    font-size: 25px
}

#parte1{
    text-align: center;
    
}
#parte2{
    text-align: center;
    font-size: 40px;
}